* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all .3s;
}

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    margin: auto;
}

.info-pokemon{
    display: grid;
}

.name-pokemon{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    height: 30px;
    background-color: aquamarine;
    color: #fefefe;
    padding: 15px 20px;
}

.card-pokemon{
    display: grid;
    grid-template-rows: 2.5fr, .5fr, .5fr, .5fr, 2fr;
    width: 85%;
    background:#ffffff ;
    margin: auto;
    color: #000000;
    align-items: center;
    text-align: center;
    align-content: center; 
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.poke-image{
    margin-top: 10px;
    margin-left: 2px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    justify-self: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.poke-type{
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 20%;
    font-weight: bold;
    color: #fefefe;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
