
@media only screen and (max-width: 750px) {
    
    .poke-type{
        width: 40%;
    }

    .poke-stats{
        width: 90%;
        font-size: 1.1em;
        font-weight: bolder;
    }

    .searchPokemon{
        margin-right: 10px;
    }
    
}    

@media only screen and (max-width: 550px) {

    .name-pokemon{
        font-size: 18px;
    }

    .poke-stats{
        width: 90%;
        font-size: .9em;
        font-weight: bolder;
    }

    .card-pokemon{
        width: 92%;
    }
       
}   

@media only screen and (max-width: 350px) {
    
    .card-pokemon{
        width: 95%;
    }
       
    .poke-stats{
        width: 94%;
    }
}   
  
@media only screen and (max-width: 330px) {
    
    .poke-stats{
        font-size: .75em;
        margin-top: 2px;
    }
       
}